.App {
  background: #75a576 !important;
  background: radial-gradient(at left top, #a8a26c, #6260e0) !important;
  min-height: 100vh !important;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.07) !important;
  border-radius: 16px !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(6.9px) !important;
  -webkit-backdrop-filter: blur(6.9px) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.glass-main {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.11) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(4px) !important;
  -webkit-backdrop-filter: blur(4.8px) !important;
}

.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.63) 0.1em 0.1em 0.8em !important;
}

.text-shadow-1 {
  text-shadow: rgba(0, 0, 0, 0.418) 0.1em 0.1em 0.8em !important;
}


