.container {
  max-width: 1080px;
  margin: 20px auto;
  background-color: rgb(55, 124, 64, 0.7);
  border-radius: 10%;
  padding: 5rem;
}

h1,
h2 {
  text-align: center;
  color: #333;
}

.container-background {
  background-image: url('https://i.pinimg.com/originals/74/7b/59/747b594e8267d32027079e412387ff1a.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-container {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px;
}
